project:
  type: website
  output-dir: docs
website:
  title: "Claire Valeria Hein-Salvi"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - publications.qmd


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



